@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Jhony @ViewData["Jhony Rodrigues"]</p>
<address>
    <strong>Mais informações: </strong> <a href="https://github.com/jhony-dev/SalesWeb">Repositório</a>
</address>
